{% extends 'base.html' %}

{% block title %}<title>{{ last_name }} {{ first_name }}</title>{% endblock title %}

{% load static %}

{% block logo %}<img src="{% static 'images/orange-logo.png' %}" alt="Логотип YUTA">{% endblock logo %}

{% block content %}
<div class="text-center avatar-block">
    <div class="container-xxl">
        <div class="avatar-wrapper">
            <img src="{{ photo_url }}" alt="аватарка">
            {% if is_owner %}
            <button type="button" id="choiceAvatartBtn" data-bs-toggle="dropdown" aria-expanded="false">
                <svg style="width: 40px; height: 40px;">
                    <use xlink:href="{% static 'images/svg/sprite.svg' %}#camera"></use>
                </svg>
            </button>
            <ul class="dropdown-content">
                <li>
                    <button class="dropdown-item d-flex gap-2 justify-content-start align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#foto">
                        <svg style="width: 19px; height: 19px;">
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#updatefoto"></use>
                        </svg>
                        <p>Обновить фотографию</p>
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex gap-2 justify-content-start align-items-center" type="button" id="openThumbModal" data-bs-toggle="modal" data-bs-target="#thumb">
                        <svg style="width: 19px; height: 19px;">
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#crop"></use>
                        </svg>
                        <p>Изменить миниатюру</p>
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex gap-2 justify-content-start align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#delete">
                        <svg style="width: 19px; height: 17px;">
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#delete"></use>
                        </svg>
                        <p>Удалить фотографию</p>
                    </button>
                </li>
            </ul>
            {% endif %}
        </div>
        {% if is_owner %}
        <div class="modal fade modal-custom" id="foto" tabindex="-1" aria-labelledby="foto" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header position-relative">
                        <button type="button" class="close-modal-btn" data-bs-dismiss="modal" aria-label="Закрыть">
                            <svg style="width: 28px; height: 28px;">
                                <use xlink:href="{% static 'images/svg/sprite.svg' %}#close"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="modal-title text-center">Загрузка фотографии</p>
                    <div class="modal-devider"></div>
                    <form method="POST" enctype="multipart/form-data" class="mt-2">
                        {% csrf_token %}
                        <p class="text-center fs-5 mb-1">Друзьям будет проще узнать вас, если вы загрузите свою настоящую фотографию.</p>
                        <p class="text-center fs-5 mb-4">Вы можете загрузить изображение в формате JPG, GIF или PNG.</p>
                        <div class="input-file-row mb-3">
                            <div class="d-flex gap-3 mb-3">
                                <label class="input-file">
                                    <input type="file" id="inputImg" name="photo" multiple accept="image/jpeg, image/jpg, image/png" required>
                                    <span>Выбрать фотографию</span>
                                </label>
                                <button type="button" id="deleteFotoBtn" class="d-flex justify-content-center align-items-center orange-btn modal-btn">
                                    <svg style="width: 19px; height: 17px;">
                                        <use xlink:href="{% static 'images/svg/sprite.svg' %}#delete"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="input-file-list">
                                <img src="{{ photo_url }}" data-src="{{ photo_url }}" id="output"/>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="update_photo">
                        <div class="d-flex flex-column justify-content-start gap-2">
                            <button type="submit" class="d-flex gap-2 justify-content-center align-items-center orange-btn modal-btn">
                                <svg style="width: 19px; height: 17px;">
                                    <use xlink:href="{% static 'images/svg/sprite.svg' %}#save"></use>
                                </svg>
                                <p>Сохранить</p>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade modal-custom" id="thumb" tabindex="-1" aria-labelledby="thumb" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header position-relative">
                        <button type="button" class="close-modal-btn" data-bs-dismiss="modal" aria-label="Закрыть">
                            <svg style="width: 28px; height: 28px;">
                                <use xlink:href="{% static 'images/svg/sprite.svg' %}#close"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="modal-title text-center">Выбор миниатюры</p>
                    <div class="modal-devider"></div>
                    <form method="POST" enctype="multipart/form-data" class="mt-2">
                        {% csrf_token %}
                        <p class="text-center fs-5 mb-1">Выберите область для маленьких фотографий.</p>
                        <p class="text-center fs-5 mb-4">Выбранная миниатюра будет использоваться в профиле.</p>

                                <div>
                                    <div class="d-flex justify-content-center align-items-center gap-5">
                                        <div class="inputImg-wrapper">
                                            <img class="inputImg" src="{{ photo_url }}" id="image">
                                        </div>
                                        <div class="exampleThumb">
                                            <img src="" id="outputThumb">
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="crop-btn" id="cropImageBtn">Обрезать</button>
                                    </div>
                                </div>

                                <input type="hidden" name="action" value="update_thumb">
                                <button type="submit" class="orange-btn modal-btn mt-5">
                                    Обновить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal-custom" id="delete" tabindex="-1" aria-labelledby="delete"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header position-relative">
                                <button type="button" class="close-modal-btn" data-bs-dismiss="modal"
                                        aria-label="Закрыть">
                                    <svg style="width: 28px; height: 28px;">
                                        <use xlink:href="{% static 'images/svg/sprite.svg' %}#close"></use>
                                    </svg>
                                </button>
                            </div>
                            <p class="modal-title text-center">Предупреждение</p>
                            <div class="modal-devider"></div>
                            <form method="POST" class="mt-2">
                                {% csrf_token %}
                                <p class="text-start fs-5 my-3">Вы действительно хотите удалить фотографию?</p>
                                <input type="hidden" name="action" value="delete_photo">
                                <div class="d-flex justify-content-end mt-4">
                                    <button type="submit"
                                            class="d-flex gap-2 justify-content-center align-items-center orange-btn modal-btn">
                                        <svg style="width: 19px; height: 17px;">
                                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#delete"></use>
                                        </svg>
                                        <p>Да, удалить</p>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container-xxl">
        <div class="position-relative text-center">
            {% if patronymic is not None %}
                <p class="person-name">{{ last_name }} {{ first_name }} {{ patronymic }}</p>
            {% else %}
                <p class="person-name">{{ last_name }} {{ first_name }}</p>
            {% endif %}
            <p class="person-age mt-2">{{ age }}</p>
            {% if biography is not None %}
                <p class="person-about mt-4">{{ biography }}</p>
            {% endif %}

            {% if is_owner %}
                <div class="person-icons">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#edit">
                        <svg id="editButton" style="width: 30px; height: 30px;">
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#edit"></use>
                        </svg>
                    </button>
                    <div class="modal fade modal-custom" id="edit" tabindex="-1" aria-labelledby="Edit"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header position-relative">
                                    <button type="button" class="close-modal-btn" data-bs-dismiss="modal"
                                            aria-label="Закрыть">
                                        <svg style="width: 28px; height: 28px;">
                                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <p class="modal-title text-center">Редактирование профиля</p>
                                <div class="modal-devider"></div>
                                <form method="POST" enctype="multipart/form-data" class="mt-2">
                                    {% csrf_token %}

                                    {% if biography is not None %}
                                        <div class="text-field__noticon mb-3">
                                            <textarea name="biography" maxlength="200">{{ biography }}</textarea>
                                        </div>
                                    {% else %}
                                        <div class="text-field__noticon mb-3">
                                            <textarea name="biography" maxlength="200" placeholder="O cебе"></textarea>
                                        </div>
                                    {% endif %}

                                    {% if phone_number is not None %}
                                        <div class="text-field__noticon mb-3">
                                            <input type="text" name="phone_number" value="{{ phone_number }}">
                                        </div>
                                    {% else %}
                                        <div class="text-field__noticon mb-3">
                                            <input type="text" name="phone_number" placeholder="Телефон">
                                        </div>
                                    {% endif %}

                                    {% if e_mail is not None %}
                                        <div class="text-field__noticon mb-3">
                                            <input type="text" name="e_mail" value="{{ e_mail }}">
                                        </div>
                                    {% else %}
                                        <div class="text-field__noticon mb-3">
                                            <input type="text" name="e_mail" placeholder="E-mail">
                                        </div>
                                    {% endif %}

                                    {% if vk is not None %}
                                        <div class="text-field__noticon mb-3">
                                            <input type="text" name="vk" value="{{ vk }}">
                                        </div>
                                    {% else %}
                                        <div class="text-field__noticon mb-3">
                                            <input type="text" name="vk" placeholder="Ссылка на ВК">
                                        </div>
                                    {% endif %}

                                    <input type="hidden" name="action" value="edit_data">
                                    <div class="d-flex justify-content-end mt-4">
                                        <button type="submit"
                                                class="d-flex gap-2 justify-content-center align-items-center orange-btn modal-btn">
                                            <svg style="width: 19px; height: 17px;">
                                                <use xlink:href="{% static 'images/svg/sprite.svg' %}#save"></use>
                                            </svg>
                                            <p>Сохранить</p>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#reload">
                        <svg id="reloadButton" style="width: 30px; height: 30px;">
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#reload"></use>
                        </svg>
                    </button>
                    <div class="modal fade modal-custom" id="reload" tabindex="-1" aria-labelledby="Reload"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header position-relative">
                                    <button type="button" class="close-modal-btn" data-bs-dismiss="modal"
                                            aria-label="Закрыть">
                                        <svg style="width: 28px; height: 28px;">
                                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <p class="modal-title text-center">Обновление информации</p>
                                <div class="modal-devider"></div>
                                <p class="text-start fs-5 mt-2 mb-3">Чтобы синхронизировать данные личного кабинета на
                                    сайте ЯГТУ и данные в YUTA, введите свой пароль:</p>
                                <form method="POST" class="mt-2">
                                    {% csrf_token %}
                                    <div class="text-field__icon mb-3 text-field__icon_password">
                                        <input id="Password" type="password" name="password" placeholder="Пароль"
                                               maxlength="30">
                                        <input type="hidden" name="action" value="update_data">
                                    </div>
                                    {% if message %}
                                        <p>{{ message }}</p>
                                    {% endif %}
                                    <div class="d-flex justify-content-end mt-4">
                                        <button type="submit"
                                                class="d-flex gap-2 justify-content-center align-items-center orange-btn modal-btn">
                                            <svg style="width: 23px; height: 19px;">
                                                <use xlink:href="{% static 'images/svg/sprite.svg' %}#update"></use>
                                            </svg>
                                            <p>Обновить</p>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="lk-devider my-4"></div>
        <div class="text-center study-info">
            <svg style="width: 60px; height: 60px;">
                <use xlink:href="{% static 'images/svg/sprite.svg' %}#study"></use>
            </svg>
            <p>Факультет: {{ faculty }}</p>
            <p>Направление: {{ direction }}</p>
            <p>Группа: {{ group }}</p>
        </div>
        <div class="statistic d-flex align-items-center justify-content-center">
            <div class="statistic-item text-center animate__animated animate__fadeInUp animate__faster">
                <p class="item-title">Проекты</p>
                <p class="item-meaning">10/12</p>
            </div>
            <div class="statistic-item text-center wow animate__animated animate__fadeInUp animate__faster"
                 data-wow-delay="0.2s">
                <p class="item-title">Задачи</p>
                <p class="item-meaning">35/36</p>
            </div>
            <div class="statistic-item text-center wow animate__animated animate__fadeInUp animate__faster"
                 data-wow-delay="0.4s">
                <p class="item-title">Команды</p>
                <p class="item-meaning">5</p>
            </div>
        </div>

        <div class="contacts d-flex align-items-center justify-content-center">

            {% if phone_number is not None %}
                <div class="contacts-item d-flex align-items-center justify-content-center">
                    <svg>
                        <use xlink:href="{% static 'images/svg/sprite.svg' %}#phone"></use>
                    </svg>
                    <p>{{ phone_number }}</p>
                </div>
            {% endif %}

            {% if e_mail is not None %}
                <div class="contacts-item d-flex align-items-center justify-content-center">
                    <svg>
                        <use xlink:href="{% static 'images/svg/sprite.svg' %}#message"></use>
                    </svg>
                    <p>{{ e_mail }}</p>
                </div>
            {% endif %}

            {% if vk is not None %}
                <div class="contacts-item d-flex align-items-center justify-content-center">
                    <svg>
                        <use xlink:href="{% static 'images/svg/sprite.svg' %}#vk"></use>
                    </svg>
                    <p><a href="{{ vk }}">{{ vk }}</a></p>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}