{% extends 'base.html' %}

{% block content %}

    <img src="{{ photo.url }}" height="500px">

    {% if patronymic is not None %}
        <p>{{ last_name }} {{ first_name }} {{ patronymic }}</p>
    {% else %}
        <p>{{ last_name }} {{ first_name }}</p>
    {% endif %}

    <p>{{ age }}</p>

    {% if biography is not None %}
        <p>{{ biography }}</p>
    {% endif %}

    <p>Факультет: {{ faculty }}</p>
    <p>Направление: {{ direction }}</p>
    <p>Группа: {{ group }}</p>

    {% if phone_number is not None %}
        <p>{{ phone_number }}</p>
    {% endif %}

    {% if e_mail is not None %}
        <p>{{ e_mail }}</p>
    {% endif %}

    {% if vk is not None %}
        <a href="{{ vk }}">{{ vk }}</a>
    {% endif %}
{% endblock content %}