{% extends 'base.html' %}

{% load static %}

{% block menu %}
<div class="header-top">
    <div class="container-xxl">
        <div class="d-flex justify-content-between py-2">
            <div class="logo">
                {% block logo %}
                <img src="{% static 'images/logo.png' %}" alt="YUTA">
                {% endblock logo %}
            </div>
            <p class="align-self-center header-title d-lg-block d-md-block d-sm-block d-none">Добро пожаловать в YUTA!</p>
            <div class="align-self-center">
                <button type="button" class="white-btn" id="openModalAuthBtn">Войти</button>
            </div>
        </div>
        <div class="modal fade modal-custom" id="autorization" tabindex="-1" aria-labelledby="Autorization" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header position-relative">
                        <button type="button" class="close-modal-btn" data-bs-dismiss="modal" aria-label="Закрыть">
                            <svg style="width: 28px; height: 28px;">
                                <use xlink:href="{% static 'images/svg/sprite.svg' %}#close"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="modal-title text-center">Авторизация</p>
                    <div class="modal-devider"></div>
                    <form method="POST" id="authorizationForm" class="mt-2">
                        {% csrf_token %}
                        <div class="text-field__icon mb-3 text-field__icon_person position-relative">
                            <input id="Login" type="text" name="login" placeholder="Логин" maxlength="50" required>
                            <span>*</span>
                        </div>
                        <div class="text-field__icon mb-3 text-field__icon_password position-relative">
                            <input id="Password" class="required" type="password" name="password" placeholder="Пароль" maxlength="50" required>
                            <span>*</span>
                        </div>
                        {% if message %}
                        <p id="errorMessage" class="text-start text-danger">{{ message }}</p>
                        {% endif %}
                        <div class="d-flex mt-4 justify-content-end">
                            <button type="submit" id="auth-btn" class="orange-btn modal-btn" disabled>Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="d-flex justify-content-between align-items-center header-main">
        <img class="lines" src="{% static 'images/lines.png' %}" alt="image">
        <div class="header-text animate__animated animate__fadeInLeft">
            <p class="header-text__title">
                <span>Единое приложение</span> ЯГТУ для планирования задач
            </p>
            <p class="header-text__subtitle">
                Чтобы выполнить большой и важный труд, необходимы две вещи: ясный план и ограниченное время.
            </p>
        </div>
        <div class="header-foto animate__animated animate__fadeInRight">
            <img src="{% static 'images/header-img.png' %}" alt="image">
        </div>
    </div>
</div>
{% endblock menu %}


{% block content %}
<div class="my-5">
    <div class="container-xxl">
        <div class="orange-block">
            <p class="orange-block-title text-center py-3">Выбирай наше приложение!</p>
            <div class="advantages d-flex justify-content-center align-items-start">
                <div class="advantages-item text-center wow animate__animated animate__fadeInUp animate__faster" data-wow-offset="250">
                    <div class="icon">
                        <svg>
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#star"></use>
                        </svg>
                    </div>
                    <div class="advantages-title">
                        Уникальность
                    </div>
                    <p class="advantages-text">
                        Первое приложения для управления проектами и задачами специально для студентов ЯГТУ.
                    </p>
                </div>
                <div class="advantages-item text-center wow animate__animated animate__fadeInUp animate__faster" data-wow-offset="250" data-wow-delay="0.2s">
                    <div class="icon">
                        <svg>
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#smartphone"></use>
                        </svg>
                    </div>
                    <div class="advantages-title">
                        Адаптивность
                    </div>
                    <p class="advantages-text">
                        Приложением удобно пользоваться как на компьютере, так и на мобильном устройстве.
                    </p>
                </div>
                <div class="advantages-item text-center wow animate__animated animate__fadeInUp animate__faster" data-wow-offset="250" data-wow-delay="0.4s">
                    <div class="icon">
                        <svg>
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#crown"></use>
                        </svg>
                    </div>
                    <div class="advantages-title">
                        Простота
                    </div>
                    <p class="advantages-text">
                        YUTA не нагружена лишним функционалом, что позволит быстро начать работу с ней.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <div class="container-xxl">
        <div class="orange-block">
            <p class="orange-block-title text-center py-3">Мобильная версия</p>
            <div class="d-flex justify-content-around align-items-center px-5 py-4">
                <div class="mobile-text">
                    <div class="d-flex mobile-item wow animate__animated animate__fadeInLeft" data-wow-offset="250">
                        <div class="counter">1</div>
                        <p class="align-self-center">Работайте там, где Вам удобно! Из любого места и с любого устройства!</p>
                    </div>
                    <div class="d-flex mobile-item wow animate__animated animate__fadeInLeft" data-wow-offset="250" data-wow-delay="0.2s">
                        <div class="counter">2</div>
                        <p class="align-self-center">Вы сами выбираете удобный формат: мобильное приложение или веб-версия.</p>
                    </div>
                    <div class="d-flex mobile-item wow animate__animated animate__fadeInLeft" data-wow-offset="250" data-wow-delay="0.4s">
                        <div class="counter">3</div>
                        <p class="align-self-center">Один раз установив приложение, Вы сможете возвращаться в него по одному нажатию на экран телефона.</p>
                    </div>
                </div>
                <div class="mobile-foto wow animate__animated animate__fadeInRight" data-wow-offset="250">
                    <img src="{% static 'images/phone.png' %}" alt="смартфон">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <div class="container-xxl">
        <div class="orange-block">
            <p class="orange-block-title text-center py-3">О нас</p>
            <div class="d-flex justify-content-between px-lg-5 px-md-2 px-sm-2 py-4">
                <div class="about-item">
                    <div class="hover-image-scale">
                        <img src="{% static 'images/3.jpg' %}" alt="аватарка">
                    </div>
                    <p class="name mt-lg-3 mt-md-2 mt-sm-2">Панова Ксения</p>
                    <p class="role mt-1">Fullstack-разработчик</p>
                </div>
                <div class="about-item">
                    <div class="hover-image-scale">
                        <img src="{% static 'images/5.jpg' %}" alt="аватарка">
                    </div>
                    <p class="name mt-lg-3 mt-md-2 mt-sm-2">Аристов Даниил</p>
                    <p class="role mt-1">Frontend-разработчик</p>
                </div>
                <div class="about-item">
                    <div class="hover-image-scale">
                        <img src="{% static 'images/1.jpg' %}" alt="аватарка">
                    </div>
                    <p class="name mt-lg-3 mt-md-2 mt-sm-2">Матюшанова Дарина</p>
                    <p class="role mt-1">Дизайнер</p>
                </div>
                <div class="about-item">
                    <div class="hover-image-scale">
                        <img src="{% static 'images/2.jpg' %}" alt="аватарка">
                    </div>
                    <p class="name mt-lg-3 mt-md-2 mt-sm-2">Сальникова Екатерина</p>
                    <p class="role mt-1">Дизайнер</p>
                </div>
                <div class="about-item">
                    <div class="hover-image-scale">
                        <img src="{% static 'images/4.jpg' %}" alt="аватарка">
                    </div>
                    <p class="name mt-lg-3 mt-md-2 mt-sm-2">Пухов Илья</p>
                    <p class="role mt-1">Android-разработчик</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}