{% extends 'base.html' %}

{% load static %}
{% block logo %}<img src="{% static 'images/blue-logo.png' %}" alt="Логотип YUTA">{% endblock logo %}

{% block menu %}
    <p>Добро пожаловать в YUTA!</p>
    <button>Войти</button>
{% endblock menu %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        <input type="text" name="login" placeholder="login" required>
        <input type="password" name="password" placeholder="password" required>

        <button type="submit">Войти</button>
    </form>
{% endblock content %}