@import url("vars.css");
@import url("reset.css");
@import url("navigation.css");
@import url("main.css");
@import url("profile.css");
@import url("teams.css");
@import url("projects.css");
@import url("tasks.css");
@import url("footer.css");
@import url("media.css");


/* ОБЩИЕ СТИЛИ */
body {
    font-family: "Montserrat", sans-serif;
    color: var(--dark-gray-color);
    min-height: 100vh;
    background-color: var(--white-color);
    font-size: 16px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

[data-simplebar] {
    overflow-x: hidden;
    overflow-y: auto;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
    background-color: rgba(148, 148, 148, 0.9);
    color: var(--white-color);
}

.orange-btn {
    color: var(--white-color);
    font-size: 0.9rem;
    font-weight: 600;
    background-color: rgba(233, 119, 27, 0.9);
    padding: 10px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 80px;
    transition: all 0.2s;
}

.orange-btn a {
    color: var(--white-color);
    transition: all 0.2s;
}

.orange-btn:hover > a {
    color: var(--white-color);
    transition: all 0.2s;
}

.orange-btn:hover,
.orange-btn:active {
    background-color: rgba(233, 119, 27, 1);
    transition: all 0.2s;
}

.blue-btn {
    padding: 12px 45px;
    background-color: rgba(22, 56, 157, 0.9);
    transition: all 0.2s;
}

.blue-btn:hover,
.blue-btn:active {
    background-color: rgba(22, 56, 157, 1);
    transition: all 0.2s;
}

.grey-btn {
    background-color: rgba(117, 117, 117, 0.9);
    transition: all 0.2s;
}

.grey-btn:hover,
.grey-btn:active {
    background-color: rgba(117, 117, 117, 1);
    transition: all 0.2s;
}

.blue-btn-sm {
    padding: 8px 40px;
    font-size: 0.9rem;
}

.modal-btn {
    padding: 12px 40px;
    font-size: 0.8rem;
}

.close-modal-btn {
    background-color: transparent;
    position: absolute;
    top: -20px;
    right: -20px;
    transition: all 0.3s;
}

.close-modal-btn:hover {
    transition: all 0.3s;
    transform: rotate(-90deg);
}

.modal-content {
    background-color: var(--white-color);
    padding: 40px 45px;
    border-radius: 30px;
}

.modal-content p {
    line-height: 1.1;
}

.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-devider {
    height: 3px;
    width: 90px;
    margin: 15px auto;
    background-color: var(--orange-color);
}

.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: "";
    color: #888888;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-field__icon input {
    background-color: var(--light-gray-color);
    border-radius: 50px;
    width: 100%;
    padding: 10px 20px 10px 45px;
    color: var(--dark-gray-color);
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
}

.text-field__noticon input {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: var(--dark-gray-color);
    background-color: var(--light-gray-color);
    border-radius: 20px;
    opacity: 1;
}

.text-field__noticon textarea {
    width: 100%;
    height: 135px;
    resize: none;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    color: var(--dark-gray-color);
    background-color: var(--light-gray-color);
    border-radius: 15px;
    opacity: 1;
}

.text-field__icon_person::before {
    width: 15px;
    height: 15px;
    background-image: url("../images/svg/person.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 100;
}

.text-field__icon_password::before {
    width: 15px;
    height: 16px;
    background-image: url("../images/svg/lock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 100;
}

input + span,
textarea + span {
    display: none;
}

input:required + span,
textarea:required + span {
    position: absolute;
    right: -17px;
    top: 33%;
    display: inline-block;
    color: red;
    opacity: 90%;
    font-size: 1.6rem;
}