* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #1C1C1C;
    min-height: 100vh;
    background-color: #fdfdfd;
    font-size: 16px;
}

p {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.orange-btn {
    color: #fdfdfd;
    font-size: 1rem;
    font-weight: 600;
    background-color: #e9771b;
    padding: 10px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 80px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.orange-btn a {
    color: #fdfdfd;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.orange-btn:hover > a {
    color: #fdfdfd;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.orange-btn:hover,
.orange-btn:active {
    background-color: #df6400;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.blue-btn {
    background-color: #16389D;
    opacity: 0.9;
}

.blue-btn-sm {
    padding: 8px 35px;
}

.blue-btn:hover,
.blue-btn:active {
    background-color: #16389D;
    opacity: 1;
}

.close-modal-btn {
    background-color: transparent;
    position: absolute;
    top: -20px;
    right: -20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.close-modal-btn:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.modal-content {
    background-color: #fdfdfd;
    padding: 40px 45px;
    border-radius: 30px;
}

.modal-content p {
    line-height: 1.1;
}

.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-devider {
    height: 3px;
    width: 90px;
    margin: 15px auto;
    background-color: #e9771b;
}

.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: "";
    color: #888888;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-field__icon input {
    background-color: #F0F0F0;
    border-radius: 50px;
    width: 100%;
    padding: 10px 20px 10px 45px;
    color: #1C1C1C;
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
}

.text-field__noticon input {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: #1C1C1C;
    background-color: #F0F0F0;
    border-radius: 15px;
    opacity: 1;
}

.text-field__noticon textarea {
    width: 100%;
    height: 135px;
    resize: none;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    color: #1C1C1C;
    background-color: #F0F0F0;
    border-radius: 15px;
    opacity: 1;
}

.text-field__icon_person::before {
    width: 15px;
    height: 15px;
    background-image: url("../images/svg/person.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 100;
}

.text-field__icon_password::before {
    width: 15px;
    height: 16px;
    background-image: url("../images/svg/lock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 100;
}

.modal-btn {
    padding: 12px 35px;
    font-size: 0.8rem;
}

.modal-btn:hover,
.modal-btn:active {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation {
    background-color: #e9771b;
    color: #fdfdfd;
}

.navigation .modal-custom {
    color: #1C1C1C;
}

.menu-link {
    position: relative;
    color: #fdfdfd;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.menu-link:hover {
    color: #fdfdfd;
}

.menu-link::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fdfdfd;
    position: absolute;
    left: 0;
    bottom: -7px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.menu-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

footer {
    background-color: #16389D;
    color: #fdfdfd;
}

.company-text {
    margin-left: 35px;
}

.company-text__title {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.company-text__subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 3px;
}

.footer-devider {
    width: 2px;
    height: 100px;
    background-color: #fdfdfd;
    opacity: 0.7;
    position: absolute;
    top: 30px;
    left: 50%;
}

.politics-document p {
    margin-bottom: 5px;
}

.politics-document a {
    color: #fdfdfd;
    font-weight: 500;
    opacity: 0.8;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.politics-document a:hover {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.politics-support {
    margin-top: 30px;
}

.politics-support .support-text {
    margin-left: 8px;
}

.politics-support .support-text .title {
    font-weight: 600;
    margin-bottom: 3px;
}

.header {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    padding: 15px 0;
    background-color: #16389D;
}

.logo img {
    width: 75px;
    height: 75px;
}

.header-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fdfdfd;
    margin-bottom: 0;
}

.header-main {
    padding: 0 120px;
    margin-top: 160px;
}

.header-text {
    max-width: 50%;
}

.header-text__title {
    margin-top: 40px;
    line-height: 1.1;
    font-size: 3.2rem;
    font-weight: 600;
}

.header-text__title span {
    color: #e9771b;
}

.header-text__subtitle {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 1.8rem;
}

.header-foto {
    max-width: 820px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-foto img {
    width: 100%;
    height: auto;
    display: block;
}

.autorization-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.autorization-checkbox + label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.autorization-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #4A4A4A;
    border-radius: 50%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.autorization-checkbox:checked + label::before {
    background-size: 20px;
    border: none;
    background-image: url("../images/svg/check.svg");
}

.autorization-checkbox-label {
    font-weight: 500;
    color: #4A4A4A;
    font-size: 1rem;
    gap: 3px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.orange-block {
    border: 3px solid #e9771b;
    border-radius: 23px;
}

.orange-block-title {
    background-color: #e9771b;
    border-radius: 18px 18px 0 0;
    overflow: hidden;
    color: #fdfdfd;
    font-size: 1.5rem;
    font-weight: 600;
}

.advantages {
    padding: 40px 60px;
}

.advantages .advantages-item {
    width: 33.3%;
    padding: 0 30px;
}

.advantages svg {
    width: 60px;
    height: 60px;
    opacity: 0.9;
}

.advantages-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #16389D;
    margin-top: 18px;
}

.advantages-text {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 8px;
}

.mobile-text {
    width: 50%;
    font-size: 1.3rem;
    font-weight: 500;
    color: #1C1C1C;
}

.mobile-text .mobile-item {
    margin-bottom: 30px;
    text-align: left;
}

.mobile-text .mobile-item .counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 3px solid #e9771b;
    border-radius: 50%;
    color: #16389D;
    font-weight: 600;
    font-size: 1.5rem;
}

.mobile-text p {
    margin: 0 0 0 20px;
    line-height: 1.1;
}

.mobile-foto {
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-foto img {
    width: 100%;
    height: auto;
    display: block;
}

.about-item {
    text-align: center;
    width: 20%;
}

.about-item .name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #16389D;
}

.about-item .role {
    font-size: 1rem;
    font-weight: 600;
    color: #4A4A4A;
}

.about-item .hover-image-scale {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #16389D;
}

.about-item .hover-image-scale img {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.about-item .hover-image-scale img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.avatar-block {
    background-color: #e9771b;
    border-bottom: 2px solid #16389D;
    position: relative;
    height: 70px;
    margin-bottom: 100px;
}

.avatar-block .avatar-wrapper {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.avatar-block .avatar-wrapper img {
    display: block;
    position: absolute;
    border: 2px solid #16389D;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar-block .avatar-wrapper button {
    background-color: transparent;
    opacity: 0;
    cursor: default;
    z-index: 3;
}

.avatar-block .avatar-wrapper .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    background-color: #1C1C1C;
    min-width: 200px;
    z-index: 1;
    padding: 10px;
    margin: 0;
}

.avatar-block .avatar-wrapper .dropdown-content .dropdown-item {
    text-align: center;
    background-color: transparent;
    width: 100%;
    color: #fdfdfd;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 6px;
    margin: 0 auto;
    padding: 10px 15px;
    cursor: pointer;
}

.avatar-block .avatar-wrapper .dropdown-content .dropdown-item:hover {
    background-color: #464646;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.avatar-block .avatar-wrapper:hover .dropdown-content {
    display: block;
}

.avatar-block .avatar-wrapper::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.avatar-block .avatar-wrapper:hover::before {
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.avatar-block .avatar-wrapper:hover button {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.wrapperCrop {
    overflow: hidden;
}

.wrapperCrop img {
    width: 350px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.preview {
    overflow: hidden;
    border: 2px solid #16389D;
}

.person-name {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.person-age {
    font-size: 1.3rem;
    font-weight: 700;
}

.person-about {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}

.person-icons {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.person-icons > button {
    background-color: transparent;
}

.person-icons svg {
    opacity: 0.85;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.person-icons svg:hover {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.lk-devider {
    height: 2px;
    width: 50%;
    background-color: #16389D;
    opacity: 0.8;
    margin: 0 auto;
}

.study-info svg {
    margin-bottom: 10px;
}

.study-info p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
}

.statistic {
    margin: 70px 0;
}

.statistic .statistic-item {
    width: 33.3%;
}

.statistic .statistic-item .item-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.statistic .statistic-item .item-meaning {
    font-size: 2.8rem;
    font-weight: 700;
    color: #e9771b;
    margin-top: 20px;
    letter-spacing: 1px;
}

.statistic-item:nth-child(2),
.statistic-item:nth-child(3) {
    border-left: 2px solid #16389D;
}

.contacts {
    margin: 90px 0 30px 0;
}

.contacts .contacts-item {
    width: 33.3%;
}

.contacts .contacts-item p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 10px;
}

.contacts .contacts-item a {
    color: #1C1C1C;
}

.contacts .contacts-item svg {
    width: 28px;
    height: 28px;
}

.input-file-row {
    display: inline-block;
}

.input-file {
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 1rem;
    vertical-align: middle;
    color: #fdfdfd;
    text-align: center;
    border-radius: 20px;
    letter-spacing: 1px;
    background-color: #16389D;
    opacity: 0.85;
    height: 40px;
    padding: 11px 22px;
    border: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover span {
    background-color: #16389D;
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.input-file:active span {
    background-color: #16389D;
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.input-file-list {
    padding: 10px 0;
    overflow: hidden;
}

.input-file-list img {
    border: 2px solid #16389D;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.input-file-list-item {
    display: inline-block;
    margin: 0 15px 15px;
    width: 150px;
    vertical-align: top;
    position: relative;
}

.input-file-list-item img {
    width: 150px;
}

.input-file-list-name {
    text-align: center;
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-file-list-remove {
    color: #fdfdfd;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    background: #2b2b2b;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
}

@media (max-width: 1600px) {
    .header-main {
        padding: 0 120px;
        margin-top: 100px;
    }
}

@media (max-width: 1400px) {
    .header-text__title {
        margin-top: 40px;
        font-size: 2.3rem;
    }

    .header-text__subtitle {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    body {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .header-title {
        font-size: 1.6rem;
    }

    .header-main {
        padding: 0 40px;
        margin-top: 120px;
    }

    .header-text__title {
        margin-top: 40px;
        font-size: 2rem;
    }

    .header-text__subtitle {
        margin-top: 20px;
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 100%;
    }

    .header-main {
        margin-top: 20px;
    }

    .advantages {
        padding: 20px 30px;
    }

    .advantages .advantages-item {
        padding: 0 30px;
    }

    .advantages-title {
        font-size: 1.2rem;
        margin-top: 18px;
    }

    .advantages-text {
        font-size: 1.1rem;
    }

    .about-item .name {
        font-size: 1rem;
    }

    .about-item .role {
        font-size: 0.9rem;
    }

    .about-item .hover-image-scale img {
        width: 120px;
        height: 120px;
    }

    .company-text {
        margin-left: 25px;
    }

    .company-text__title {
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    .company-text__subtitle {
        font-size: 1rem;
        margin-top: 3px;
    }

    .person-name {
        padding-top: 40px;
    }

    .person-icons {
        margin-left: auto;
        margin-right: auto;
        left: 46%;
        right: 0;
        text-align: center;
    }

    .contacts {
        margin: 0 0 30px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .contacts .contacts-item {
        margin-bottom: 15px;
        width: 100%;
    }

    .contacts .contacts-item p {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 10px;
    }

    .contacts .contacts-item a {
        color: #1C1C1C;
    }

    .wrapperCrop {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .logo img {
        width: 65px;
        height: 65px;
    }

    .menu-link {
        font-size: 1rem;
    }

    .header {
        height: 100%;
    }

    .header-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
    }

    .header-text {
        max-width: 100%;
    }

    .header-foto {
        margin-top: 30px;
    }

    .mobile-foto {
        display: none;
    }

    .mobile-text {
        width: 100%;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 1rem;
    }

    .header-main {
        margin-top: 20px;
    }

    .header-text {
        max-width: 100%;
    }

    .header-foto {
        margin-top: 30px;
    }

    .advantages {
        padding: 20px 20px;
    }

    .advantages .advantages-item {
        padding: 0 20px;
    }

    .advantages-title {
        font-size: 1.1rem;
        margin-top: 18px;
    }

    .advantages-text {
        font-size: 1rem;
    }

    .about-item .name {
        font-size: 0.9rem;
    }

    .about-item .role {
        font-size: 0.8rem;
    }

    .about-item .hover-image-scale img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 660px) {
    .menu-link {
        font-size: 1rem;
    }

    .header-title {
        font-size: 1.1rem;
    }

    .advantages {
        padding: 30px 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .advantages .advantages-item {
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
    }

    .advantages svg {
        width: 50px;
        height: 50px;
        opacity: 0.9;
    }

    .advantages-title {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #16389D;
        margin-top: 18px;
    }

    .advantages-text {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 8px;
    }

    .about-item .name {
        font-size: 0.9rem;
    }

    .about-item .role {
        font-size: 0.8rem;
    }

    .about-item .hover-image-scale img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 578px) {
    .navbar-nav {
        margin-top: 15px;
    }

    .navbar-nav .nav-item {
        margin-bottom: 5px;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .study-info p {
        font-size: 1rem;
    }

    .statistic {
        margin: 60px 0;
    }

    .statistic .statistic-item .item-title {
        font-size: 1.2rem;
    }

    .statistic .statistic-item .item-meaning {
        font-size: 1.9rem;
    }

    .contacts .contacts-item p {
        font-size: 1.1rem;
    }

    .contacts .contacts-item svg {
        width: 23px;
        height: 23px;
    }

    .orange-block-title {
        font-size: 1.2rem;
    }

    .about-item .name {
        font-size: 0.6rem;
    }

    .about-item .role {
        font-size: 0.5rem;
    }

    .about-item .hover-image-scale img {
        width: 60px;
        height: 60px;
    }

    .company-text {
        margin-left: 20px;
    }

    .company-text__title {
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .company-text__subtitle {
        font-size: 0.9rem;
        margin-top: 3px;
    }
}