.nav-tabs {
    background-color: rgba(22, 56, 157, 0.3);
    border-radius: 30px;
    margin-top: 45px;
}

.tab-btn {
    background-color: rgba(253, 253, 253, 0);
    color: var(--blue-color);
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    padding: 12px 0;
}

.nav-tabs .active {
    background-color: rgba(22, 56, 157, 0.9);
    color: var(--white-color);
}

.team {
    margin: 65px auto;
    position: relative;
}

.team-title button {
    background-color: transparent;
}

.team-title svg {
    opacity: 0.85;
    transition: all 0.2s;
}

.team-title svg:hover {
    opacity: 1;
    transition: all 0.2s;
}

.team-title p {
    color: var(--dark-gray-color);
    font-size: 1.7rem;
    font-weight: 700;
}

.team-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
}

.team-card {
    width: 20%;
    height: 230px;
    border: 2px solid rgba(22, 56, 157, 0.85);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
    will-change: transform;
    transform: translate3d(0, 0, 0) scale(1);
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.team-card:hover {
    will-change: transform, opacity;
    transform: translate3d(0, 0, 0) scale(1.03);
    backface-visibility: hidden;
    box-shadow: 6px -6px 13px -2px rgba(34, 60, 80, 0.2);
    transition: all 0.2s ease-in-out;
}

.team-card .avatar-wrapper {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 27px 27px 0 0;
    background: var(--blue-color);
    background: linear-gradient(135deg, rgb(13, 36, 104) 0%, rgba(217, 106, 16, 0.9) 100%);
}

.team-card .crown-boss {
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 3;
}

.team-card .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    width: 110px;
    height: 110px;
    border: 2px solid rgba(22, 56, 157, 0.9);
    border-radius: 50%;
    z-index: 2;
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.team-card p {
    font-size: 1.1rem;
    color: var(--dark-gray-color);
    font-weight: 600;
    margin-top: 18px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 235px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    padding: 30px 0 50px 0;
}

.swiper-navigation {
    display: flex;
    justify-content: space-between;
}

.slider-button {
    background-color: transparent;
}

.slider-button-prev {
    position: absolute;
    top: 40%;
    left: -70px;
}

.slider-button-next {
    position: absolute;
    top: 40%;
    right: -70px;
}


/* ФОРМЫ */
.modal-content-teams {
    padding: 25px 40px !important;
}

.close-modal-btn-teams {
    top: -10px !important;
    right: -20px !important;
}

.modal-text {
    font-size: 1rem;
}

.searched-users, .members {
    gap: 8px;
    min-height: 0;
    max-height: 118px;
    overflow-y: auto;
}

.searched-user, .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--light-gray-color);
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 15px;
}

.searched-user__inner,
.member-user__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.searched-user img,
.member img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--blue-color);
}

.searched-user p,
.member p {
    font-size: 1rem;
    font-weight: 500;
}

.add-btn-team,
.delete-btn-team {
    flex-grow: 0;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    background-color: transparent;
    margin: 0 15px;
}

.add-btn-team svg,
.delete-btn-team svg{
    flex-grow: 0;
    flex-shrink: 0;
}