.project-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0;
}

.project-card {
    width: calc(33.333% - 20px) !important;
    border: 2px solid var(--blue-color);
    border-radius: 30px;
    position: relative;
    transition: all 0.2s ease-in-out;
    box-shadow: 6px -6px 13px -2px rgba(34, 60, 80, 0.2);
    overflow: hidden;
}

.project-card .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    border-radius: 27px 27px 0 0;
    background: var(--blue-color);
    background: linear-gradient(135deg, rgb(13, 36, 104) 0%, rgba(217, 106, 16, 0.9) 100%);
}

.project-card .header .img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
    border-radius: 25px;
    border: 2px solid var(--blue-color);
}

.project-card .header .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.header .context-menu-btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px 15px;
}

.header-content .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
    font-size: 1.3rem;
    line-height: 1.1;
    font-weight: 600;
    color: var(--white-color);
    width: 230px;
}

.content .btn-tz {
    color: var(--white-color);
    font-size: 0.7rem;
    justify-content: center;
    padding: 9px 17px;
    width: 100%;
}

.content .btn-tz:hover {
    color: var(--white-color);
}

.content {
    padding: 20px;
    border-radius: 0 0 27px 27px;
    background-color: var(--white-color);
}

.content a:hover{
    color: var(--white-color) !important;
}

.content__text {
    line-height: 1.2;
}

.content__text svg {
    flex-shrink: 0;
    flex-grow: 0;
}

.content__text .project-description {
    width: 100%;
    height: 97px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.content__team {
    gap: 4px;
    flex-wrap: wrap;
}

.content__team a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #1C1C1C;
    width: 24%;
}

.content__team a:hover {
    color: #1C1C1C !important;
}

.content__team .crown-boss {
    position: absolute;
    top: -7px;
    left: 15px;
}

.content__team img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
}

.content__team p {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
    line-height: 1.2;
}

.dropdown-context-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    background-color: var(--white-color);
    box-shadow: 4px 4px 6px 2px rgba(77, 75, 75, 0.25);
    min-width: 200px;
    z-index: 1;
    padding: 10px;
    margin: 0;
}

.dropdown-context-menu .dropdown-item {
    font-size: 0.9rem;
    text-align: center;
    background-color: transparent;
    width: 100%;
    color: var(--dark-gray-color);
    transition: all 0.2s;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown-context-menu .dropdown-item:hover {
    background-color: var(--hover-gray);
    transition: all 0.2s;
}

.context-menu-btn:hover + .dropdown-context-menu,
.dropdown-context-menu:hover {
    display: block;
}

.show-all-teams-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-all-teams-btn:hover {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
    color: var(--white-color);
    transition: all 0.2s;
}

.all-person {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--white-color);
    opacity: 0.95;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    transform: translateY(100%);
    transition: all 0.15s linear;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.all-person-inner {
    position: relative;
}

.all-person-list {
    flex-wrap: wrap;
    margin-bottom: 140px;
}

.all-person-list a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--dark-gray-color);
    width: calc(25% - 16px);
    margin: 5px;
}

.all-person-list a:hover {
    color: var(--dark-gray-color) !important;
}

.all-person-list img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
}

.all-person-list p {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
    line-height: 1.2;
}

.all-person-list .crown-boss {
    position: absolute;
    top: -7px;
    left: 7px;
}

.show-all-team {
    transform: translateY(120px);
    transition: all 0.15s linear;
}

.close-block-team-btn {
    background-color: transparent;
    position: absolute;
    top: -11px;
    right: -5px;
    transition: all 0.3s;
}

.close-block-team-btn:hover {
    transition: all 0.3s;
    transform: rotate(-90deg);
}

.simplebar-track.simplebar-vertical {
    width: 9px !important;
}

.simplebar-scrollbar:before {
    background-color: var(--blue-color);
    opacity: 0.95;
    border: none;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 0.95;
}


/* ФОРМЫ */
.modal-content-projects {
    padding: 25px 40px !important;
}

.close-modal-btn-projects {
    top: -10px !important;
    right: -20px !important;
}

.modal-text {
    font-size: 1rem;
}

.modal-subtitle {
    font-weight: 600;
}

.two-column-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tz-deadline-block div div {
    display: flex;
    align-items: center;
    position: relative;
    width: 445px;
    justify-content: space-between;
}

.rule-tz {
    max-width: 400px;
}

.input-file-tz {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    max-width: 370px;
}

.input-file-tz input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 10px;
    height: 40px;
    float: left;
    box-sizing: border-box;
    width: 215px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--light-gray-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
}

.input-file-btn {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    vertical-align: middle;
    color: var(--dark-gray-color);
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--light-gray-color);
    padding: 12px 17px;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.deleteTzBtn {
    height: 40px !important;
    padding: 12px 23px !important;
}

.deadline {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    justify-content: space-between;
}

.deadline-field {
    width: 220px!important;
}

.text-field__noticon--project-form textarea {
    height: 160px !important;
}

.searched-teams {
    gap: 8px;
    min-height: 0;
    max-height: 106px;
    margin-top: 12px;
    overflow-y: auto;
}

.searched-team,
.project-team {
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--light-gray-color);
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 15px;
}

.searched-team p,
.project-team p {
    font-size: 1.1rem;
    margin: 0 15px;
    font-weight: 500;
}

.add-team-in-project-btn {
    flex-grow: 0;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    background-color: transparent;
    margin: 0 15px;
}

.add-team-in-project-btn svg{
    flex-grow: 0;
    flex-shrink: 0;
}

.project-status-select {
    font-weight: 500 !important;
    padding: 10px 15px;
    background-color: var(--light-gray-color);
    color: var(--dark-gray-color);
    border-radius: 20px;
}

.project-status-select option {
    font-weight: 500 !important;
}

.text-field__noticon--project-edit-form textarea {
    height: 210px !important;
}
