{% extends 'base.html' %}

{% block content %}
    {% if stage == 'choose-team-name' %}
        <form method="POST"
              style="width: 60%; border: 2px solid orange; margin-top: 30px; margin-bottom: 30px; padding: 30px;">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Наименование команды</label>
                {% if team_name %}
                    <input class="form-control" type="text" name="team_name" value="{{ team_name }}" required>
                {% else %}
                    <input class="form-control" type="text" name="team_name" required>
                {% endif %}
                {% if message %}
                    <p style="color: red;">{{ message }}</p>
                    <br>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label">Руководитель команды</label>
                {% if leader.patronymic %}
                    <input class="form-control" type="text" name="team_leader"
                           value="{{ leader.last_name }} {{ leader.first_name }} {{ leader.patronymic }}" readonly>
                {% else %}
                    <input class="form-control" type="text" name="team_leader"
                           value="{{ leader.last_name }} {{ leader.first_name }}" readonly>
                {% endif %}
            </div>

            <br>
            <a href="{% url 'teams' %}" class="orange-btn">Отмена</a>
            <button type="submit" class="orange-btn">Далее</button>
        </form>
    {% endif %}

    {% if stage == 'choose-project' %}
        <div style="width: 60%; border: 2px solid orange; margin-top: 30px; margin-bottom: 30px; padding: 30px;">
            <p>Выберите, к какому из руководимых Вами проектов нужно прикрепить команду.</p>
            <br>
            <br>
            <form method="POST">
                {% csrf_token %}
                <label class="form-label">Проект</label>
                <div class="d-flex">
                    <input class="form-control" type="text" name="project_name" placeholder="Наименование проекта"
                           required>
                    <button type="submit" class="orange-btn">Поиск</button>
                </div>
            </form>

            {% for project in projects %}
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value={{ project.id }}>
                    <div class="d-flex align-items-center justify-content-between"
                         style="width: 70%; border: 2px solid orange">
                        <div class="d-flex align-items-center">
                            <img src="{{ project.photo.url }}" width="50px">
                            <p>{{ project.name }}</p>

                        </div>
                        <button type="submit" class="orange-btn">Выбрать</button>
                    </div>
                </form>
            {% endfor %}

            {% if project %}
                <br>
                <br>
                <p>Команда «{{ team_name }}» будет прикреплена к проекту «{{ project.name }}».</p>
            {% endif %}

            <br>
            <br>
            <a href="{% url 'teams' %}" class="orange-btn">Отмена</a>
            <a href="{% url 'new_team' 'choose-team-name' %}" class="orange-btn">Назад</a>
            <a href="{% url 'new_team' 'choose-members' %}" class="orange-btn">Далее</a>
        </div>
    {% endif %}

    {% if stage == 'choose-members' %}
        <div style="width: 60%; border: 2px solid orange; margin-top: 30px; margin-bottom: 30px; padding: 30px;">
            <p>Выберите участников команды.</p>
            <br>
            <br>
            <form method="POST">{% csrf_token %}
                <label class="form-label">Пользователь</label>
                <div class="d-flex">
                    <input class="form-control" type="text" name="user_name"
                           placeholder="Фамилия Имя (Отчество)"
                           required>
                    <button type="submit" class="orange-btn">Поиск</button>
                </div>
            </form>

            {% for user in users %}
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value={{ user.id }}>
                    <div class="d-flex align-items-center justify-content-between"
                         style="border: 2px solid orange">
                        <img src="{{ user.photo.url }}" width="50px">
                        {% if user.patronymic %}
                            <p>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</p>
                        {% else %}
                            <p>{{ user.last_name }} {{ user.first_name }}</p>
                        {% endif %}
                        <p>{{ user.group.name }}</p>
                        <button type="submit" class="orange-btn">Добавить в команду</button>
                    </div>
                </form>
            {% endfor %}

            {% if members %}
                <br><br>
                <p>Текущий состав команды:</p>
                {% for member in members %}
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="member_id" value="{{ member.id }}">
                        <div class="d-flex align-items-center justify-content-between"
                             style="border: 2px solid orange">
                            <img src="{{ member.photo.url }}" width="50px">
                            {% if member.patronymic %}
                                <p>{{ member.last_name }} {{ member.first_name }} {{ member.patronymic }}</p>
                            {% else %}
                                <p>{{ member.last_name }} {{ member.first_name }}</p>
                            {% endif %}
                            <p>{{ member.group.name }}</p>
                            <button type="submit" class="orange-btn">Удалить из команды</button>
                        </div>
                    </form>
                {% endfor %}
            {% endif %}
            <form method="POST">{% csrf_token %}
                <br>
                <br>
                <a href="{% url 'teams' %}" class="orange-btn">Отмена</a>
                <a href="{% url 'new_team' 'choose-project' %}" class="orange-btn">Назад</a>
                <button type="submit" class="orange-btn">Создать команду</button>
            </form>
        </div>
    {% endif %}

{% endblock content %}