{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-around">
        <div>
            <p>Команды, которыми Вы руководите</p>
            {% if managed_teams %}
                {% for team in managed_teams %}
                    <br>
                    <div style="border: 1px solid blue">
                        <p class="text-center">{{ team.name }}</p>
                        <br>
                        <div class="d-flex">
                            <a href="{% url 'profile' team.leader.id %}" target="_blank">
                                <div class="card" style="width: 10rem;">
                                    <img src="{{ team.leader.photo.url }}" class="card-img-top"
                                         alt="Фотография руководителя команды">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Руководитель
                                            команды: {{ team.leader.last_name }} {{ team.leader.first_name }}</h5>
                                    </div>
                                </div>
                            </a>
                            {% for member in team.members.all %}
                                <a href="{% url 'profile' member.id %}" target="_blank">
                                    <div class="card" style="width: 10rem;">
                                        <img src="{{ member.photo.url }}" class="card-img-top"
                                             alt="Фотография участника команды">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">{{ member.last_name }} {{ member.first_name }}</h5>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>К сожалению, Вы не руководите ни одной командой.</p>
            {% endif %}
        </div>
        <div>
            <p>Команды, в которых Вы состоите</p>
            {% if others_teams %}
                {% for team in others_teams %}
                    <br>
                    <div style="border: 1px solid blue">
                        <br>
                        <p class="text-center">{{ team.name }}</p>
                        <br>
                        <div class="d-flex">
                            <a href="{% url 'profile' team.leader.id %}" target="_blank">
                                <div class="card" style="width: 10rem;">
                                    <img src="{{ team.leader.photo.url }}" class="card-img-top"
                                         alt="Фотография руководителя команды">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Руководитель
                                            команды: {{ team.leader.last_name }} {{ team.leader.first_name }}</h5>
                                    </div>
                                </div>
                            </a>
                            {% for member in team.members.all %}
                                <a href="{% url 'profile' member.id %}" target="_blank">
                                    <div class="card" style="width: 10rem;">
                                        <img src="{{ member.photo.url }}" class="card-img-top"
                                             alt="Фотография участника команды">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">{{ member.last_name }} {{ member.first_name }}</h5>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>К сожалению, Вы не состоите ни одной командой.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}

